@{
    ViewBag.Title = "Home Page";
}


<div class="row">
	<h1>Ergo Brewing Recipe Archive</h1>
</div>

<div class="row">
	<h2>What you can do here</h2>
	<p>
		Users can view the main list and see details of recipes.  Within the list you are able to sort, filter, and search<br />
		Administrators can do all actions of a user plus the rights to create, update, and delete recipe records.<br /><br />
		<h4>Please select your user type</h4><br />
		<button type="button" onclick="location.href='@Url.Action("Index", "RecipeUser")'" class="btn">Normal Users</button>
	</p>
</div>
